<div>
    <div access-level="accessLevels.anon">
        <a class="login_lnk" href="" ng-controller="AuthModal" ng-click="auth_modal.showLogin()" translate="frontend.links.sign_in"></a>
        <a class="register_lnk" href="" ng-controller="AuthModal" ng-click="auth_modal.showRegistration()" translate="frontend.links.sign_up"></a>
    </div>
    <div access-level="accessLevels.user">
        <div class="btn-group">
            <casino-deposit-button></casino-deposit-button>
        </div>

        <div class="user" dropdown on-toggle="toggled(open)">
            <div class="user__name" dropdown-toggle>{{user.data.email}}</div>
            <div class="user__menu"></div>
            <ul class="user__menu-list dropdown-menu" role="menu" >
                <li class="user__menu-item ">
                    <a ng-href="{{profile_routes.profile}}" target="_self">{{'profiles.index.my_account' | translate}}</a>
                </li>
                <li class="user__menu-item">
                    <a ng-href="{{profile_routes.bonuses.active}}" target="_self">{{'profiles.menu.bonuses' | translate}}</a>
                </li>
                <li class="user__menu-item">
                    <a ng-href="{{profile_routes.bets}}" target="_self">{{'profiles.index.my_bets' | translate}}</a>
                </li>
                <li class="user__menu-item">
                    <a ng-href="{{profile_routes.bonuses.history}}" target="_self">{{'profiles.menu.history' | translate}}</a>
                </li>
                <li class="user__menu-item">
                    <a href="" ng-click="widgetAuthTop.logout()" target="_self">{{'frontend.links.sign_out' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
