<nav class="foo_menu">
    <a class="foo_menu_item" translate="frontend.links.home" ui-sref="home({lang:'{{currentLocale}}'})"
       ui-sref-active="current"></a>
    <a class="foo_menu_item" translate="frontend.links.casino_games" ui-sref="app.games({lang:'{{currentLocale}}'})"
       ui-sref-active="current"></a>
    <a class="foo_menu_item" ng-repeat="item in menu" ng-class="{current: state.includes('app.cms', {path: item.path})}"
       ui-sref="{{get_sref(item.path)}}" ng-bind="item.title"></a>
</nav>
