<div class="wysiwyg">
    <h2 translate="frontend.devise.send_unlock_instructions"></h2>
    <div class="alert alert-warning">
        <p translate="frontend.devise.unlock_hint"></p>
        <p translate="frontend.devise.contact_us_hint_html" translate-values="{page: '<a href=\'/support\'>' + ('frontend.links.support' | translate) + '</a>'}"></p>
    </div>
    <form novalidate="novalidate" method="post" id="new_user" class="form-horizontal" accept-charset="UTF-8">
        <div id="user_email_input" class="form-group" ng-class="{'has-error':unlock.data.errors.email}">
            <div class="col-sm-3 form-label">
                <label for="email" class="control-label">
                    {{'activerecord.attributes.user.email' | translate}}
                    <abbr title="required">*</abbr>
                </label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="email" name="email" id="email" placeholder="{{'frontend.placeholders.email' | translate}}" ng-model="unlock.data.user.email" auto-fill-sync/>
                <p class="inline-errors" ng-repeat="(error_key, error_value) in unlock.data.errors.email" translate="{{error_value}}"></p>
            </div>
        </div>

        <div class="row">
            <div id="user_submit_action" class="col-sm-3 col-sm-offset-3">
                <input class="btn btn-lg btn-success" type="submit" ng-click="unlock.submit()"  value="{{'frontend.devise.send_unlock_instructions' | translate}}" name="commit">
            </div>
        </div>

    </form>

    <div ng-include src="'/app/Auth/AuthLink/_auth_link.html'"></div>

</div>
