.DS_Store
/bower_components
/node_modules
/core/client
/core/build
/core/npm-debug.log
/core/_project
/build
/logs
/.tmp
/.idea
/_project
/npm-debug.log
/devise-i18n
/casino-translations
/client
npmstart.js
.project
.settings
