<div class="wysiwyg page-container">
    <h2 translate="frontend.devise.change_your_password"></h2>
    <div class="alert alert-danger" ng-show="reset_password.data.errors.reset_password_token.invalid">
        <a ui-sref="app.forgot_password({lang:'{{currentLocale}}'})" href="" translate="frontend.links.forgot_password"></a>
    </div>
    <form novalidate="novalidate" method="post" id="new_user" class="form-horizontal" ng-submit="reset_password.submit()" accept-charset="UTF-8">
        <div id="new_password" class="form-group" ng-class="{'has-error':reset_password.data.errors.password}">
            <div class="col-sm-3 form-label">
                <label for="password" class="control-label">
                    {{'frontend.devise.new_password' | translate}}
                    <sup title="required">*</sup>
                </label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="password" id="password" placeholder="{{'frontend.devise.new_password' | translate}}"  ng-model="reset_password.data.user.password"/>
                <p class="inline-errors" ng-repeat="(error_key, error_value) in reset_password.data.errors.password" translate="{{error_value}}"></p>
            </div>
        </div>

        <div id="user_email_input" class="form-group" ng-class="{'has-error':reset_password.data.errors.password_confirmation}">
            <div class="col-sm-3 form-label">
                <label for="password_confirmation" class="control-label">
                    {{'frontend.devise.confirm_new_password' | translate}}
                    <sup title="required">*</sup>
                </label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="password" name="password_confirmation" id="password_confirmation" placeholder="{{'frontend.devise.confirm_new_password' | translate}}" ng-model="reset_password.data.user.password_confirmation"/>
                <p class="inline-errors" ng-repeat="(error_key, error_value) in reset_password.data.errors.password_confirmation" translate="{{error_value}}"></p>
            </div>
        </div>

        <div class="row">
            <div id="user_submit_action" class="col-sm-3 col-sm-offset-3">
                <input class="btn btn-lg btn-success" type="submit" value="{{'frontend.devise.change_my_password' | translate}}" name="commit">
            </div>
        </div>

    </form>

    <div ng-include src="'/app/Auth/AuthLink/_auth_link.html'"></div>

</div>
