<footer>
    <div class="foo_out_links">
        <div class="pay_links responsibility inner" ng-init="icon_directory = 'white'">
            <span class="pay_link"><img ng-src="resources/images/icon/responsibility/{{icon_directory}}/18plus.svg"/></span>
            <span class="pay_link"><img ng-src="resources/images/icon/responsibility/white/responsiblegaming.svg"/></span>
            <a href="http://www.gamcare.org.uk" class="pay_link"><img ng-src="resources/images/icon/responsibility/white/gamcare.svg"/></a>
            <a href="http://www.gamanon.org.uk" class="pay_link"><img ng-src="resources/images/icon/responsibility/white/gamanon.svg"/></a>
            <a href="http://www.gamblingtherapy.org" class="pay_link"><img ng-src="resources/images/icon/responsibility/white/gambling_therapy.svg"/></a>
            <a href="http://www.gamblersanonymous.org.uk" class="pay_link"><img ng-src="resources/images/icon/responsibility/white/gamblers_anonymous.svg"/></a>
        </div>
    </div>

    <div class="inner">
        <casino-menu type="bottom-menu"></casino-menu>

        <casino-snippet type="footer-content"></casino-snippet>

        <div class="foo_content">
            <casino-locales-selector></casino-locales-selector>

            <div class="foo_cntnt_item socials">
                <casino-snippet type="social-button"></casino-snippet>
            </div>

        </div>
    </div>
</footer>
