<footer>
    <div class="foo_out_links">
        <div class="inner">
            <casino-snippet type="footer-logos"></casino-snippet>
            <span class="foo_out_link fol_18_plus"></span>
            <a href="#" class="foo_out_link fol_softswiss"></a>
            <a href="#" class="foo_out_link fol_rg"></a>
            <a href="#" class="foo_out_link fol_itechlabs"></a>
            <a href="#" class="foo_out_link fol_secure"></a>
            <a href="#" class="foo_out_link fol_ssl"></a>
        </div>
    </div>

    <div class="inner">
        <casino-menu type="bottom-menu"></casino-menu>


        <casino-snippet type="footer-content"></casino-snippet>

        <div class="foo_content">

            <!--<div class="foo_cntnt_item calc">-->
                <!--<button class="btn_updt_calc fa fa-refresh"></button>-->
                <!--<span class="input"><input type="text" class="text_input"></span>-->
                <!--<span class="label">m฿=</span>-->
                <!--<span class="input"><input type="text" class="text_input"></span>-->
                <!--<span class="label">USD</span>-->
            <!--</div>-->

            <!--<div class="foo_cntnt_item language_selector" ng-controller="DropdownCtrl">-->
                <!--<div is-open="status.isopen" dropdown="" class="btn-group">-->
                    <!--<button ng-disabled="disabled" dropdown-toggle="" class="btn btn-primary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">English <span class="caret fa fa-caret-down"></span></button>-->
                    <!--<ul role="menu" class="dropdown-menu">-->
                        <!--<li><a href="#">English</a></li>-->
                        <!--<li><a href="#">Albanian</a></li>-->
                        <!--<li><a href="#">Germany</a></li>-->
                        <!--<li><a href="#">Italy</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <!--<casino-locales-selector></casino-locales-selector>-->

            <!--<div class="foo_cntnt_item socials">-->
                <!--<a class="fonticon fa fa-facebook" href="#" title="Follow us on facebook"></a>-->
                <!--<a class="fonticon fa fa-twitter" href="#" title="Follow us on twitter"></a>-->
                <!--<a class="fonticon fa fa-linkedin" href="#" title="Follow us on linkedin"></a>-->
            <!--</div>-->

        </div>
    </div>


    <!--<footer>-->
        <!--<div class="panel">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-2">-->
                    <!--<div class="social">-->
                        <!--<a href="https://www.facebook.com/SoftSwiss">-->
                            <!--<img src="/resources/images/theme_softswiss/fb_icon.png" />-->
                        <!--</a>-->
                        <!--<a href="https://twitter.com/softswiss">-->
                            <!--<img src="/resources/images/theme_softswiss/twitter_icon.png" />-->
                        <!--</a>-->
                        <!--<div class="sep" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-5">-->
                    <!--<casino-menu type="bottom-menu"></casino-menu>-->
                <!--</div>-->
                <!--<div class="col-xs-5">-->
                    <!--<div class="trust-badges">-->
                        <!--<img alt="Prov fair" src="/resources/images/footer_images/provable_fair.png">-->
                        <!--<img alt="18plus" src="/resources/images/footer_images/18plus.png">-->
                        <!--<a href="http://softswiss.com" target="_blank">-->
                            <!--<img alt="Softswiss" src="/resources/images/footer_images/softswiss.jpg">-->
                        <!--</a>-->
                        <!--<img alt="Responsible gamble" src="/resources/images/footer_images/responsible_gamble.png">-->
                        <!--<a href="#" target="_blank">-->
                            <!--<img alt="Itech" src="/resources/images/footer_images/itech.jpg">-->
                        <!--</a>-->
                        <!--<img alt="100safe" src="/resources/images/footer_images/100safe.png">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="footer-content well">-->
            <!--<casino-snippet type="footer-content"></casino-snippet>-->
        <!--</div>-->
        <!--<casino-bitcoin-converter></casino-bitcoin-converter>-->
    <!--</footer>-->

</footer>
