<div class="wysiwyg__content">
    <div class="page-cms-bonus">
        <h1 class="faq__title">Bonus</h1>

        <div class="faq__accordion">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne"
                         style="background: #044500 url('/resources/images/bonus_page/bg1.png') right top no-repeat;"
                            >
                        <h4 class="panel-title">400ˆ Welcome Bonus</h4>
                        <ul>
                            <li>Enjoy a ˆ$400 / 3 BTC bonus for your three first deposits!</li>
                            <li>100% bonus up to ˆ$200 / 1.5 BTC with your first deposit!</li>
                            <li>25% bonus up to ˆ$75 / 0.5 BTC with your second deposit!</li>
                            <li>50% bonus up to ˆ$125 / 1 BTC with your third deposit!</li>
                        </ul>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                           aria-expanded="false" aria-controls="collapseOne" class="collapsed open-button">Read more</a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne"
                         aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <ol>
                                <li>One special bonus is allowed per one person, household, address, shared computer or
                                    IP adress.
                                </li>
                                <li>Please contact support for actual minimum deposit requirement for special bonus.
                                </li>
                                <li>Deposits can be done in Euro, USD or Bitcoins as the player chooses.</li>
                                <li>Special bonus amount should be wagered 40 (fourty) times to meet the wager
                                    requirements.
                                </li>
                                <li>Player can request a withdrawal of their deposited amount prior to meeting the
                                    wagering requirements. However, the bonus amount and winnings will be forfeited as a
                                    result. Please note that while playing with a bonus, real money gets exhausted
                                    first.
                                </li>
                                <li>All deposit and free cash bonuses will expire in 1 day.</li>
                                <li>Bonus funds and winnings will be forfeited upon expiry of the bonus.</li>
                                <li>When betting, placed bets are deducted from the player’s cash balance. However, if
                                    no cash balance is available the bet placed will be deducted from the player’s bonus
                                    balance.
                                </li>
                                <li>Until the play through requirements have been met, the maximum bet that can be
                                    placed is ˆ$5 or 0.05 BTC. This includes double up wagers after the game round has
                                    been completed. For example: wagering winnings from X game round on red/black.
                                </li>
                                <li>Any bonus can be removed prior to any wagering conditions being met. Please contact
                                    support to learn more or use the forfeit button under 'My Bonuses'.
                                </li>
                                <li>Only one bonus can be claimed at a time. Deposit related bonuses cannot be
                                    "stacked". management reserve the right to void any bonuses and/or winnings obtained
                                    by fraudulent behaviour.
                                </li>
                                <li>Maximum cashout for free chips and special no deposit bonuses is bonus amount x 5
                                    times.
                                </li>
                                <li>These rules can be updated at any time by casino. Rules of Bitcoin games are
                                    described here: https://?????.com/rules/, rules of other games are described on each
                                    game page. You are always
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="background: #044500 url('/resources/images/bonus_page/bg1.png') right top no-repeat;"
                            >
                        <h4 class="panel-title">400ˆ Welcome Bonus</h4>
                        <ol>
                            <li>Enjoy a ˆ$400 / 3 BTC bonus for your three first deposits!</li>
                            <li>100% bonus up to ˆ$200 / 1.5 BTC with your first deposit!</li>
                            <li>25% bonus up to ˆ$75 / 0.5 BTC with your second deposit!</li>
                            <li>50% bonus up to ˆ$125 / 1 BTC with your third deposit!</li>
                        </ol>
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo" class="collapsed open-button">Read more</a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"
                         aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <ol>
                                <li>One special bonus is allowed per one person, household, address, shared computer or
                                    IP adress.
                                </li>
                                <li>Please contact support for actual minimum deposit requirement for special bonus.
                                </li>
                                <li>Deposits can be done in Euro, USD or Bitcoins as the player chooses.</li>
                                <li>Special bonus amount should be wagered 40 (fourty) times to meet the wager
                                    requirements.
                                </li>
                                <li>Player can request a withdrawal of their deposited amount prior to meeting the
                                    wagering requirements. However, the bonus amount and winnings will be forfeited as a
                                    result. Please note that while playing with a bonus, real money gets exhausted
                                    first.
                                </li>
                                <li>All deposit and free cash bonuses will expire in 1 day.</li>
                                <li>Bonus funds and winnings will be forfeited upon expiry of the bonus.</li>
                                <li>When betting, placed bets are deducted from the player’s cash balance. However, if
                                    no cash balance is available the bet placed will be deducted from the player’s bonus
                                    balance.
                                </li>
                                <li>Until the play through requirements have been met, the maximum bet that can be
                                    placed is ˆ$5 or 0.05 BTC. This includes double up wagers after the game round has
                                    been completed. For example: wagering winnings from X game round on red/black.
                                </li>
                                <li>Any bonus can be removed prior to any wagering conditions being met. Please contact
                                    support to learn more or use the forfeit button under 'My Bonuses'.
                                </li>
                                <li>Only one bonus can be claimed at a time. Deposit related bonuses cannot be
                                    "stacked". management reserve the right to void any bonuses and/or winnings obtained
                                    by fraudulent behaviour.
                                </li>
                                <li>Maximum cashout for free chips and special no deposit bonuses is bonus amount x 5
                                    times.
                                </li>
                                <li>These rules can be updated at any time by casino. Rules of Bitcoin games are
                                    described here: https://?????.com/rules/, rules of other games are described on each
                                    game page. You are always
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>