<div class="wysiwyg__content">
<h1 class="faq__title">Frequently asked questions</h1>

<div class="faq__accordion">
<accordion close-others="true">
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block1}" is-open="status.block1">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_arrow" ng-class="{'is-opened': status.block1, 'is-closed': !status.block1}"></span>
        </div>
        What deposits and withdrawals options is presented at Playvivid casino?
        </accordion-heading>
        
        <div><p>You can check available options for deposits and withdrawals at our <a href="http://www.playvividcasino.com/payments"> payments page.</a></p></div>
    </accordion-group>
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block2}" is-open="status.block2">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_arrow" ng-class="{'is-opened': status.block2, 'is-closed': !status.block2}"></span>
        </div>
          How withdrawals at Playvivid casino works?
        </accordion-heading>
        
        <div><p>Well, withdrawals in our casino it is something really fast. We aim to process all withdrawals within 12 hours, but in most cases we will pay you much more faster! Also we suggest you to upload your documents in profile to speed up all your withdrawals, and do not have withdrawal canceled due to verification required.</p></div>
    </accordion-group>
   

    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block3}" is-open="status.block3">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_arrow" ng-class="{'is-opened': status.block3, 'is-closed': !status.block3}"></span>
        </div>
        I have a question about bonuses at your casino.
        </accordion-heading>
        
        <div><p>Bonuses at our casino is simple. We have a special bonus terms page, where you can read all general terms regarding bonuses and freespins<a href="http://www.playvividcasino.com/bonus-terms"> just click here.</a> In short - wagering requirements for all bonuses is 40x, and freespins are wager free. Max bet while bonus is active is 5$/ˆ or 0.020BTC. Simple! </p></div>
    </accordion-group>
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block4}" is-open="status.block4">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_arrow" ng-class="{'is-opened': status.block4, 'is-closed': !status.block4}"></span>
        </div>
         I still have a question and can't find answer myself on website.
        </accordion-heading>
        
        <div><p>No problem! Just contact our live chat support, or send us email at support@playvividcasino.com . And we will reply you quickly, just test it yourself!</p></div>
    </accordion-group>
  </accordion>
  </div>
  
  
  <div class="faq__accordion">
<accordion close-others="true">
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block5}" is-open="status.block5">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_image"></span>
        </div>
        What deposits and withdrawals options is presented at Playvivid casino?
        </accordion-heading>
        
        <div><p>You can check available options for deposits and withdrawals at our <a href="http://www.playvividcasino.com/payments"> payments page.</a></p></div>
    </accordion-group>
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block6}" is-open="status.block6">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_image _money"></span>
        </div>
          How withdrawals at Playvivid casino works?
        </accordion-heading>
        
        <div><p>Well, withdrawals in our casino it is something really fast. We aim to process all withdrawals within 12 hours, but in most cases we will pay you much more faster! Also we suggest you to upload your documents in profile to speed up all your withdrawals, and do not have withdrawal canceled due to verification required.</p></div>
    </accordion-group>
   

    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block7}" is-open="status.block7">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_image _info"></span>
        </div>
        I have a question about bonuses at your casino.
        </accordion-heading>
        
        <div><p>Bonuses at our casino is simple. We have a special bonus terms page, where you can read all general terms regarding bonuses and freespins<a href="http://www.playvividcasino.com/bonus-terms"> just click here.</a> In short - wagering requirements for all bonuses is 40x, and freespins are wager free. Max bet while bonus is active is 5$/ˆ or 0.020BTC. Simple! </p></div>
    </accordion-group>
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block8}" is-open="status.block8">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_image _cards"></span>
        </div>
         I still have a question and can't find answer myself on website.
        </accordion-heading>
        
        <div><p>No problem! Just contact our live chat support, or send us email at support@playvividcasino.com . And we will reply you quickly, just test it yourself!</p></div>
    </accordion-group>
    
    <accordion-group class="accordion__panel" ng-class="{'is-open': status.block9}" is-open="status.block9">
        <accordion-heading>
        <div class="faq__icon">
        	<span class="_image _shield"></span>
        </div>
         I still have a question and can't find answer myself on website.
        </accordion-heading>
        
        <div><p>No problem! Just contact our live chat support, or send us email at support@playvividcasino.com . And we will reply you quickly, just test it yourself!</p></div>
    </accordion-group>
    
  </accordion>
  </div>
  </div>