<div class="content_area games_area clearfix" ng-class="{'open_menu': left_col}">

    <div class="search_box">
        <div class="input search_input">
            <input ng-model="query" type="text"
                   placeholder="{{'frontend.filters.find_your_game' | translate}}"
                   class="text_input">
            <i class="fonticon fa fa-search"></i></div>
    </div>
    <div class="games_wrap">
        <div class="portlet-games-info">
            <div class="navigation default-view tabs"> 
<!--                <ul class="nav">   
                    <li class="category category-top-games"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/top-games">Top Games</a>
                        </h2> 
                    </li>      
                    <li class="category category-featured-games"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/featured-games">Featured Games</a>
                        </h2> 
                    </li>      
                    <li class="category category-slots"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/slots">Slots</a>
                        </h2> 
                    </li>      
                    <li class="category category-movies-and-tv"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/movies-and-tv">Movies &amp; TV</a>
                        </h2> 
                    </li>      
                    <li class="category category-jackpots"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/jackpots">Jackpots</a>
                        </h2> 
                    </li>      
                    <li class="category category-table-and-cards active"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/table-and-cards">Table &amp; Cards</a>
                        </h2> 
                    </li>      
                    <li class="category category-video-poker"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/video-poker">Video Poker</a>
                        </h2> 
                    </li>      
                    <li class="category category-casual-games"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/casual-games">Casual Games</a>
                        </h2> 
                    </li>      
                    <li class="category category-all"> 
                        <h2>
                            <a class="datalink" href="#" data-category="/all">All Games</a>
                        </h2> 
                    </li>        
                </ul> -->

            <ul class="nav">
                <li ng-repeat="filter_collection in collections | collectionsOrder: true" ng-class="{current: collection == '{{filter_collection.id}}'}" class="category category-{{filter_collection.id}}">
                    <h2>
                        <a class="datalink" ui-sref="games_category({category: filter_collection.name != 'all' ? filter_collection.id : ''})" ng-bind="filter_collection.title">{{filter_collection.name}}</a>
                    </h2>
                    <!--<a class="left_menu_link" ng-click="changeCollection(filter_collection.id);"  ng-bind="filter_collection.title"></a>-->
                </li>
            </ul>
            </div>
        </div>
        <sidebar class="left_col">

            <div class="search_box">
                <div class="input search_input">
                    <input ng-model="query" type="text"
                           placeholder="{{'frontend.filters.find_your_game' | translate}}"
                           class="text_input">
                    <i class="fonticon fa fa-search"></i></div>
            </div>
            <ul class="left_menu games_menu">
                <li ng-repeat="filter_collection in collections | collectionsOrder: true" ng-class="{current: collection == '{{filter_collection.id}}'}">
                    <a class="left_menu_link" ui-sref="games_category({category: filter_collection.name != 'all' ? filter_collection.id : ''})" ng-bind="filter_collection.title"></a>
                    <!--<a class="left_menu_link" ng-click="changeCollection(filter_collection.id);"  ng-bind="filter_collection.title"></a>-->
                </li>
            </ul>
            <ul class="left_menu games_menu">
                <li ng-class="{current: provider == false}">
                    <a class="left_menu_link" ng-click="changeProvider(false)" >{{'games.providers.all' | translate}}</a>
                </li>
                <li ng-repeat="filter_provider in providers" ng-class="{current: provider == '{{filter_provider.id}}'}">
                    <a class="left_menu_link" ng-click="changeProvider(filter_provider.id)">{{filter_provider.title}}</a>
                </li>
            </ul>
        </sidebar>

        <div class="content clearfix">
            <button class="btn aside_toggler" ng-click="left_col = !left_col"><i class="fa fa-bars"></i></button>

            <div class="page_title">
           		<!-- 
                <div class="games_filter games_filter_right">
                    <a ng-click="device = 'desktop'" class="games_filter_item" ng-class="{current: device == 'desktop'}" data-filter-value="desktop">{{'games.categories.device.desktop' | translate}}</a>
                    <a ng-click="device = 'mobile'" class="games_filter_item" ng-class="{current: device == 'mobile'}" data-filter-value="mobile">{{'games.categories.device.mobile' | translate}}</a>
                </div>

 				-->
                <div class="games_filter">
                    <a ng-click="collectionOrder = collection" class="games_filter_item" ng-class="{current: collectionOrder == collection}">{{'games.categories.stat.manual' | translate}}</a>
                    <a ng-click="collectionOrder = 'novelty'" class="games_filter_item" ng-class="{current: collectionOrder == 'novelty'}">{{'games.categories.stat.new' | translate}}</a>
                    <a ng-click="collectionOrder = 'popularity'" class="games_filter_item" ng-class="{current: collectionOrder == 'popularity'}">{{'games.categories.stat.most_popular' | translate}}</a>
                </div>

            </div>

            <div class="catalog_list" ng-controller="Game">
                <span infinite-scroll="loadMore(4)">
                    <span class="catalog_list_item"
                          ng-repeat="game in games | gameDevice: device | gameProvider: provider | gameCurrency : data.user.currency | gameCollections: collection | gameOrder: collectionOrder | filter:query | limitTo: limit_count  track by $index">
                        <span ng-include="'/app/Games/_game_item.html'"></span>
                    </span>
                </span>
            </div>
        </div>
    </div>

    <div class="pay_links">
        <a href="#" class="pay_link pl_ico_amtc"></a>
        <a href="#" class="pay_link pl_ico_bet_sft"></a>
        <a href="#" class="pay_link pl_ico_ezugi"></a>

        <a href="#" class="pay_link pl_ico_unn_pay"></a>
        <a href="#" class="pay_link pl_ico_mstr_msrt"></a>
        <a href="#" class="pay_link pl_ico_pay_sfcrd"></a>
        <a href="#" class="pay_link pl_ico_dnrs_clb"></a>
        <a href="#" class="pay_link pl_ico_ntllr"></a>
        <a href="#" class="pay_link pl_ico_skrll"></a>
        <a href="#" class="pay_link pl_ico_btc"></a>
        <a href="#" class="pay_link pl_ico_lava_pay"></a>
        <a href="#" class="pay_link pl_ico_cbts"></a>
        <a href="#" class="pay_link pl_ico_csn_tech"></a>
        <a href="#" class="pay_link pl_ico_swss_bet"></a>
        <a href="#" class="pay_link pl_ico_u_kash"></a>
        <a href="#" class="pay_link pl_ico_visa"></a>
        <a href="#" class="pay_link pl_ico_dscvr"></a>
    </div>
</div>
