.content-404 {

    background: url(https://www.oshi.io/system/comfy/cms/files/files/000/000/018/original/404-1.gif) center center no-repeat #000;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.content-404 a {
    color: #FC0;
    text-decoration: none;
}
.content-404 a:hover {
    text-decoration: underline;
}
.content-404 div {
    text-align: center;
    margin: 36px auto 0;
    min-width: 460px;
}
.content-404 .oops {
    margin-top: 36px;
    max-width: 522px;
    font-size: 80pt;
}
.content-404 .cannot-be-found, .content-404 .link-to-root, .content-404 .oops {
    font-weight: 400;
}
.content-404 .cannot-be-found {
    line-height: 1.4em;
    font-size: 20pt;
}
.content-404 .description {
    font-size: 10pt;
    line-height: 2em;
    max-width: 740px;
    color: #aaa;
}
.content-404 .link-to-root {
    font-size: 11pt;
}