.page-game.game-full {
	
	.game-modal {
	    background-color: #414141;
		
		.footer { 
			display: none; 
		}
		
		.sga-container { 
			.game__box {
				.game__tabs {
					display: none;
				}
			}
		}
		
		header, .footer,.game__tabs,.gameright,.game_option { 
			display: none; 
		}
		
		.sga-container, .game_box { 
			width: 100%; 
			height: 100%; 
			padding-right: 0; 
			bottom: 0; 
			top: 0; 
			left: 0; 
			right: 0; 
		}
		
		.game__content iframe { 
			position: fixed; 
		}
	}
}


.page-game {
  overflow: hidden;

  .game-modal {
    background-color: #141414;

    .game-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      z-index: 1000;
      border: 0;
      .close {
        border-radius: 35px;
        display: block;
        height: 40px;
        padding: 10px 8px;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 40px;
        z-index: 1000000;
      }
    }

    .sga-container {
      position: absolute;
      bottom: 50px;
      top: 81px;
      left: 0;
      right: 0;
      padding: 0;
      font-size: 0;

      .game_box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: none;
        padding-right: 250px;
        background: #141414;
        

        &.tab_hidden {
          padding-right: 0;
        }

        .game__content {
          padding-bottom: 50px;

          img {
            width: 100%;
            display: block;
          }
          iframe {
            width: 100%;
            height: 100%;
            border: none;
            //transition: width 0.5s ease-out, height 0.5s ease-out;
          }
        }
      }

    }


    .game__option {
      background: #141414;
      height: 50px;
      font-size: 0;
      line-height: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      button {
        font-size: 14px;
        line-height: 50px;
        padding: 0 35px;
        border-right: 1px solid #9c9c9c;
        color: #000;
        background: #d2d2d2;
        i {
          margin-right: 5px;
          margin-top: -3px;
          display: inline-block;
          vertical-align: middle;
          width: 28px;
          height: 22px;
          background: url('/resources/images/sga/game__option-icon.png') 0 0 no-repeat;
        }
        &.isActive {
          background: #f0f0ee;
          i {
            background-position: 0 100%;
          }
        }
        &.game__split {
          i {
            margin-top: 0;
            width: 33px;
            background-position: -31px 0;
          }
          &.isSplit {
            background: #f0f0ee;
            i {
              background-position: -31px 100%;
            }
          }
        }
        &:hover {
          background: #141414;
        }
      }
    }
    .game__tabs {
      width: 250px;
      display: inline-block;
      vertical-align: top;
      position: absolute;
      bottom: 50px;
      top: 0;
      right: 0;
      overflow: hidden;
      &._hidden {
        display: none;
      }
    }
    .game__right {
      position: absolute;
      top: 0;
      right: -50px;
      width: 50px;
      height: 150px;
    }
    .right-nav {
      margin: 0;
      padding: 0;
      line-height: 0;
      li {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #141414 url('/resources/images/sga/right-nav-ico.png') 9px 14px no-repeat;
        &:hover {
          background-color: #141414;
          background-position: -109px 14px;
           cursor: pointer;
        }
        &._full {
          background-position: 9px -35px;
          &:hover {
            background-position: -109px -35px;
          }
        }
        &._close {
          background-position: 9px -84px;
          &:hover {
            background-position: -109px -84px;
          }
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 11;
        }
      }
    }
    .tabs {
      font-family: 'Oswald', sans-serif;
    }
    .tabs__login {
      width: 100%;
      color: #000;
      background: #FFCD56;
      font-size: 24px;
      line-height: 2;
      padding: 10px 0;
      text-decoration: none!important;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#FFE2A0 0, #FFC02C 100%);
      background-image: -o-linear-gradient(#FFE2A0 0, #FFC02C 100%);
      background-image: linear-gradient(#FFE2A0 0, #FFC02C 100%);
      -webkit-transition: background-color .15s;
      transition: background-color .15s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      &:hover {
         background-color: #FFC02C;
         background-image: -webkit-linear-gradient(#FFDF98 0%, #F1A800 100%);
         background-image: -o-linear-gradient(#FFDF98 0%, #F1A800 100%);
         background-image: linear-gradient(#FFDF98 0%, #F1A800 100%);
         text-decoration: none!important;
      }
    }
    .tabs__icon {
      display: inline-block;
      vertical-align: middle;
      width: 27px;
      height: 30px;
      margin-right: 15px;
      background: url('/resources/images/sga/tabs__icon.png') 0 0 no-repeat;
      &._tWinners {
        background-position: 0 -59px;
      }
      &._provability {
        margin-top: -5px;
        background-position: 0 -114px;
      }
    }
    .tab-content {
      padding: 15px 10px 15px 15px;
      line-height: 1.5;
      overflow: hidden;
    }
    .winners {
      display: none;
      &.no-main {
        display: block;
      }
      padding: 0;
      margin: 0;
      li {
        list-style-type: none;
        margin-bottom: 10px;
        font-family: 'Arial', sans-serif;
      }
    }
    .winners__image {
      float: left;

      .winner_item_img {
        width: 85px;
        height: inherit;
        line-height: 30px;
        margin-right: 9px;
        img {
          width: 100%;
        }
      }
    }
    .winners__content {
      overflow: hidden;
      font-size: 12px;
      line-height: 1.2;
    }
    .winners__money strong {
      font-weight: bold;
    }
    .winners__game a {
      color: #a10005;
    }

    .nav-pills > li {
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #141414;
    }

    .nav-pills > li > a {
      border-radius: 0;
      border-left: 6px solid transparent;
      font-size: 18px;
      padding-top: 16px;
      padding-bottom: 16px;
      color: #FFFFFF;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#8C8C8C 0,#131313 100%);
      background-image: -o-linear-gradient(#8C8C8C 0,#131313 100%);
      background-image: linear-gradient(#8C8C8C 0,#131313 100%);
      -webkit-transition: background-color .15s;
      transition: background-color .15s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      text-decoration: none!important;
      &:hover {
        color: #FFFFFF;
      }
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: #FFFFFF;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#545454 0,#141414 100%);
      background-image: -o-linear-gradient(#545454 0,#141414 100%);
      background-image: linear-gradient(#545454 0,#141414 100%);
      -webkit-transition: background-color .15s;
      transition: background-color .15s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    .nav-stacked > li:last-child {
      -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.1);
    }

    .top-nav-ico {
      display: none;
      background: url('/resources/images/sga/games__nav-ico.png') 50% 50% no-repeat;
      -webkit-background-size: 22px 17px;
      padding: 20px;
      margin-top: 3px;
    }
    .top-nav {
      background: transparent;
    }
    .top-nav__list {
      float: left;
      width: auto;
    }
    .top-nav__item a {
      display: inline-block;
      font-size: 16px;
      height: auto;
      line-height: 55px;
      padding: 0 5px;
    }
    .user__logout {
      display: none;
    }
    .top-nav__item a:hover {
      background: transparent;
      text-decoration: underline;
    }
    .center-nav-ico {
      display: none;
      background: url('/resources/images/sga/games__nav-ico.png') 50% 50% no-repeat;
      -webkit-background-size: 22px 17px;
      padding: 20px;
      margin-top: 10px;
    }
    .center__nav {
      float: left;
      ul {
        margin: 0;
        padding: 0;

        &.navShow {
          display: block;
        }
      }
      li {
        display: inline-block;
        list-style-type: none;
        line-height: 55px;
        margin-left: 15px;
        &:first-child {
          margin-left: 0;
        }
      }
      a {
        color: #314785;
        font-size: 18px;
      }
    }

    .footer {
      width: 100%;
      height: 50px;
      background: #f0f0ee;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 11;
      padding-bottom: 0;
      border-top: 1px solid #9c9c9c;
    }
    .footer__info {
      float: right;
      font-size: 0;
      line-height: 0;
    }
    .footer__calc, .footer__refresh {
      display: inline-block;
      font-size: 14px;
    }
    .footer__subnav-wrap {
      display: none;
      overflow: hidden;
      background: #f0f0ee;
      position: absolute;
      z-index: 11;
      left: 0;
      right: 0;
      bottom: 50px;
      height: 73px;
    }

    ._active .footer__subnav-wrap {
      display: block;
    }

    .footer__subnav {
      overflow: hidden;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      background: transparent;
      height: 73px;
    }
    .footer__subnav-scroll {
      position: absolute;
      right: 10px;
      top: 15px;
      width: 16px;
      height: 34px;
      z-index: 10;
      border: none !important;
      background: url('/resources/images/sga/subnav__scroll.png') 0 0 no-repeat;
      &._first {
        background-image: url('/resources/images/sga/first-tab-shadow.png');
        right: auto;
        left: 0;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .footer__nav li.footer__subnav-item {
      display: inline-block;
      list-style-type: none;
      margin: 0;

      a {
        color: #000;
        margin: 15px;
        display: block;
        height: 43px;
        border-right: 1px solid #9c9c9c;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .footer__subnav-image {
      float: left;
      width: 90px;
      margin-right: 10px;
      img {
        object-fit: contain;
      }
    }
    .footer__subnav-content {
      overflow: hidden;
      font-size: 14px;
      line-height: 1.2;
    }
    .footer__subnav-money strong {
      font-weight: bold;
    }
    .footer__subnav-game a {
      text-decoration: underline;
      text-transform: uppercase;
      color: #a10005;
    }
    .footer__nav {
      float: left;

      li {
        padding: 0;
        margin: 0;
      }

      ul {
        margin: 0;
        padding: 0;
        font-size: 0;
        line-height: 0;
      }
    }
    .footer__nav-item {
      display: inline-block;
      border-right: 1px solid #9c9c9c;
      border-left: none !important;

      &:first-child {
        border-right: 1px solid #9c9c9c !important;
      }
    }
    .footer__link {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 16px;
      line-height: 50px;
      padding: 0 35px;
      font-family: arial, sans-serif;
      color: #FFFFFF;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#8C8C8C 0,#131313 100%);
      background-image: -o-linear-gradient(#8C8C8C 0,#131313 100%);
      background-image: linear-gradient(#8C8C8C 0,#131313 100%);
      -webkit-transition: background-color .15s;
      transition: background-color .15s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      text-decoration: none!important;
    }

    ._active .footer__link {
      color: #FFFFFF;
      cursor: pointer;
      background-image: -webkit-linear-gradient(#545454 0,#141414 100%);
      background-image: -o-linear-gradient(#545454 0,#141414 100%);
      background-image: linear-gradient(#545454 0,#141414 100%);
      -webkit-transition: background-color .15s;
      transition: background-color .15s;
      -webkit-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;

      &:before {
        content: "";
      }
    }

    .footer__link i {
      margin-right: 5px;
      margin-top: -3px;
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 27px;
      background: url('/resources/images/sga/footer-nav-ico.png') 0 0 no-repeat;
      &._new-games {
        background-position: -32px 0;
      }
      &._favorites {
        background-position: -62px 1px;
      }
      &._last {
        background-position: -94px 1px;
      }
      &._lotto {
        background-position: -94px 1px;
      }
      &._jackpot {
        background-position: -94px 1px;
      }
      &._charity {
        background-position: -94px 1px;
      }
    }
    .footer__refresh {
      display: inline-block;
      width: 50px;
      border-left: 1px solid #197aa6;
      height: 50px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        background: #35acdb url('/resources/images/sga/footer-refresh.png') 50% 50% no-repeat;
        &:hover {
          background-color: #4eb9e8;
        }
      }
    }
    .footer__calc {
      display: inline-block;
      vertical-align: top;
      margin-top: 10px;
      margin-right: 20px;
      color: #fff;
      input, label {
        display: inline;
      }
      span {
        display: inline;
        padding: 0 7px;
      }
    }
    .footer__calc-input {
      width: 70px;
      background: #8fdcfa;
      border: none;
      padding: 5px;
      color: #000;
    }

    .nav, .pagination, .carousel, .panel-title a {
      cursor: pointer;
    }

    @media (max-width: 1024px){
      .footer {
        display: none;
      }

      .sga-container {
        bottom: 0;
      }
    }

    @media (max-width: 1000px), (max-height: 600px) {
      header, .footer,.game__tabs,.game__right,.game__option {
        display: none;
      }

      .sga-container, .game_box {
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
      }

      .game__content iframe {
        position: fixed;
      }

    }

  }

  &.device-mobile {
    .game-modal {
      header, .footer, .game__tabs, .game__right, .game__option {
        display: none;
      }

      .sga-container, .game_box {
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        transform: inherit;
      }

      .game__content iframe {
        position: fixed;
      }
    }
  }
  
  
}
	