<div class="foo_cntnt_item language_selector">

    <div dropdown="" class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <!--<i class="flag flag-{{flags[locales[localeIndex].code]}}"></i> -->
            {{locales[localeIndex].name_in_locale}} <span class="caret"></span>
        </button>


        <ul role="menu" class="dropdown-menu">

            <li ng-repeat="(num, value) in locales" ng-if="num != localeIndex">
                <a ng-click="changeLocale(value.code);">
                    <!--<i class="flag flag-{{flags[value.code]}}"></i> -->
                    {{value.name_in_locale}}
                </a>
            </li>

        </ul>
    </div>
</div>
