<div class="foo_cntnt_item language_selector" ng-if="localesCount > 1">

    <div dropdown="" class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
            <!--<i class="flag flag-{{flags[locales[localeIndex].code]}}"></i> -->
            {{locales[localeIndex].name_in_locale}} <span class="caret"></span>
        </button>


        <ul role="menu" class="dropdown-menu">

            <li ng-repeat="(num, value) in locales" ng-if="num != localeIndex">
                <a ng-click="changeLocale(value.code);">
                    <!--<i class="flag flag-{{flags[value.code]}}"></i> -->
                    {{value.name_in_locale}}
                </a>
            </li>

        </ul>
    </div>



    <!--<ul class="locale-selector">-->
        <!--&lt;!&ndash;<select ng-options="key as value.name_in_locale for (key, value) in locales" class="form-control" ng-model="locale"></select>&ndash;&gt;-->

        <!--<li ng-class="{active: value.code == locale}" ng-repeat="value in locales" ng-click="changeLocale(value.code);">-->
        <!--<span ng-if="value.code == locale">-->
            <!--<span class="flag flag-{{flags[value.code]}}" lang="{{value.code}}"></span>-->
            <!--<span class="lang-name">{{value.name_in_locale}}</span>-->
        <!--</span>-->

            <!--<a ng-if="value.code != locale" ng-class="'locales-' + value.code">-->
                <!--<span class="flag flag-{{flags[value.code]}}" lang="{{value.code}}"></span>-->
                <!--<span class="lang-name">{{value.name_in_locale}}</span>-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

</div>
