<div class="wysiwyg page-container">
    <h2 translate="frontend.links.forgot_password"></h2>
    <div class="alert alert-warning">
        <p translate="frontend.devise.resend_hint"></p>
        <p translate="frontend.devise.contact_us_hint_html" translate-values="{page: '<a href=\'/support\'>' + ('frontend.links.support' | translate) + '</a>'}"></p>
    </div>
    <form novalidate="novalidate" method="post" id="new_user" class="form-horizontal" ng-submit="forgot_password.submit()" accept-charset="UTF-8">
        <div id="user_email_input" class="form-group" ng-class="{'has-error':forgot_password.data.errors.email}">
            <div class="col-sm-3 form-label">
                <label for="email" class="control-label">
                    {{'activerecord.attributes.user.email' | translate}}
                    <sup title="required">*</sup>
                </label>
            </div>
            <div class="col-sm-6">
                <input class="form-control" type="email" name="email" id="email" placeholder="{{'frontend.placeholders.email' | translate}}" ng-model="forgot_password.data.user.email"/>
            </div>
            <p class="inline-errors" ng-repeat="(error_key, error_value) in forgot_password.data.errors.email" translate="{{error_value}}"></p>
        </div>

        <div class="row">
            <div id="user_submit_action" class="col-sm-3 col-sm-offset-3">
                <input class="btn btn-lg btn-success" type="submit" value="{{'frontend.devise.send_reset_instructions' | translate}}" name="commit">
            </div>
        </div>

    </form>

    <div ng-include src="'/app/Auth/AuthLink/_auth_link.html'"></div>
</div>
